version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: superstore_pg
    restart: always
    environment:
      POSTGRES_DB: superstore
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
